@import "variables";

/*
    Con font-face establecemos una fuente que hemos
    descargado para usarla en nuestra pagina.
*/

@font-face {
  font-family: $fuente;
  src: url(../font/Noto_Serif/NotoSerif-Regular.ttf);
}

/*
    Estableces la fuente y el color de las letras de la pagina.
*/

body {
  color: $color;
  box-sizing: border-box;
  font-family: $fuente;
}

form {
  width: 50em;
}

/*
    Tamaño del logo del encabezado
*/

#logoNav {
  width: 5em;
}

/*
    El navegador se desplegara pasando el raton por encima con esta opcion.
*/

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/*
    Tamaño del calendario y el gps.
*/

#calendario {
  width: 100%;
  height: 15em;
}

#gps {
  width: 100%;
  height: 100%;
}

/*
    Tamaño del logo en el pie de pagina.
*/

#logoPie {
  width: 4em;
}

/*
    Se elimina la barra baja del texto en los iconos de redes sociales.
*/

#redesSociales a {
  text-decoration: none;
}

.iti__flag {
  background-image: url("../img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../img/flags@2x.png");
  }
}
